/* ~~~~~~~~~~~~~~~~~~~
   Component Styles
~~~~~~~~~~~~~~~~~~~ */

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

section {
  max-width: 1080px;
  width: 100%;
}

header {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
}

table>tbody>tr {
  border-bottom: 1px solid hsl(var(--primary), 0.5);

  &hover {
    background-color: hsl(var(--primary));
  }
}

table>tbody>tr:nth-child(even) {
  background-color: hsl(var(--primary), 0.05);

  &hover {
    background-color: hsl(var(--primary));
  }
}

thead {
  border-top: 1px solid hsl(var(--primary));
  border-bottom: 1px solid hsl(var(--primary));
}

th,
td {
  padding: 4px 8px;
}


/* ~~~~~~~~~~
   Classes 
~~~~~~~~~~ */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-1) var(--size-3);

  border-radius: var(--radius-1);
  background-color: hsl(var(--primary));

  font-weight: var(--font-weight-6);
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: hsl(var(--primary), 0.85);
    border-color: hsl(var(--primary));
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn.success {
  background-color: hsl(var(--success));

  &:hover {
    background-color: hsl(var(--success), 0.85);
    border-color: hsl(var(--success));
  }
}

.btn.link {
  background-color: hsl(var(--secondary));
  color: hsl(var(--background));

  &:hover {
    background-color: hsl(var(--secondary), 0.85);
    border-color: hsl(var(--secondary));
  }
}

.table-container {
  overflow-x: auto;
  width: 100%;
  min-width: 350px;
  max-width: 500px;
}

.output {
  width: 100%
}
