package y2025

templ day05() {
	<section id="day02">
		<div class="button-container">
			<div class="text-center">
				<div class="part-title">Both Parts</div>
				<button
					data-on:click="@get('/year/2025/day/5')"
				>
					Calculate
				</button>
			</div>
			@BothPartsD5(0, 0)
		</div>
	</section>
}

templ BothPartsD5(ans1, ans2 int) {
	<div id="day05">
		<div>{ ans1 }</div>
		<div>{ ans2 }</div>
	</div>
}
