package y2025

import "aoc/web/components"

templ y2025(title string) {
	@components.HtmlWrapper(title) {
		<div class="font-ibm-plex-mono">
			<div class="section-header">
				<div class="title">Advent of Code 2025</div>
				<div class="day-title">Day 1: Break the Lock</div>
			</div>
			@day01()
			<div class="section-header">
				<div class="day-title">Day 2: Duplicate Disaster</div>
			</div>
			@day02()
		</div>
		@components.Footer()
	}
}
