/* ~~~~~~~~~~~~~~~~~~~
   Component Styles
~~~~~~~~~~~~~~~~~~~ */

body {
  background-color: hsl(var(--background));
  color: hsl(var(--text));
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

section {
  max-width: 1080px;
  width: 100%;
}

header {
  display: flex;
}

/* <footer class="border-t-3  text-shadow-hard pt-2 mt-8 gap-3 border-primary flex justify-center items-center text-center text-lg text-primary"> */

footer {
  display: flex;
  justify-content: center;
  gap: var(--size-px-2);

  font-size: var(--font-size-3);
  margin-block: var(--size-px-3);
  padding-top: var(--size-px-3);
  border-top: var(--border-size-2) solid hsl(var(--primary));
  text-shadow: var(--shadow-2);
}

table {
  width: 100%;
}

table>tbody>tr {
  border-bottom: 1px solid hsl(var(--primary), 0.5);

  &hover {
    background-color: hsl(var(--primary));
  }
}

table>tbody>tr:nth-child(even) {
  background-color: hsl(var(--primary), 0.05);

  &hover {
    background-color: hsl(var(--primary));
  }
}

thead {
  border-top: 1px solid hsl(var(--primary));
  border-bottom: 1px solid hsl(var(--primary));
}

th,
td {
  text-align: center;
  padding: 4px 8px;
}


/* ~~~~~~~~~~
   Classes 
~~~~~~~~~~ */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--size-1) var(--size-3);

  border-radius: var(--radius-1);
  background-color: hsl(var(--primary));

  font-weight: var(--font-weight-6);
  cursor: pointer;
  transition: background-color .3s;

  &:hover {
    background-color: hsl(var(--primary), 0.85);
    border-color: hsl(var(--primary));
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}

.btn.success {
  background-color: hsl(var(--success));

  &:hover {
    background-color: hsl(var(--success), 0.85);
    border-color: hsl(var(--success));
  }
}

.btn.link {
  background-color: hsl(var(--secondary));
  color: hsl(var(--background));

  &:hover {
    background-color: hsl(var(--secondary), 0.85);
    border-color: hsl(var(--secondary));
  }
}

.table-container {
  overflow-x: auto;
  width: 100%;
}

.logo {
  width: var(--size-px-5);
  height: var(--size-px-5);
}


.output {
  overflow-y: auto;
  max-height: 80vh;
  scrollbar-gutter: stable;
  border-bottom: var(--border-size-1) dashed hsl(var(--primary), 0.9);

  /* make long lines wrap instead of causing horizontal scroll */
  white-space: normal;
  overflow-wrap: anywhere;
  word-break: break-word;
  overflow-x: hidden;
  min-width: 0;
  max-width: 100%;
}

.scroller {
  scrollbar-width: thin;
  scrollbar-color: hsl(var(--primary)) hsl(var(--secondary));
}

.year-title {
  margin-bottom: var(--size-px-3);
  text-align: center;
}
