package y2018 

import "aoc-runner/views/common"

templ Y2018() {
	@common.Layout("Year: 2018") {
		<section>
			<h1 class="year-title text-primary">Year 2018</h1>
			<div class="grid-14">
				<div class="table-container">
					<table>
						<thead>
							<tr>
								<th>Day</th>
								<th>Part</th>
								<th>Result</th>
								<th>Calculate</th>
							</tr>
						</thead>
						<tbody>
							@Day01()
							@Day02()
						</tbody>
					</table>
				</div>
				<div id="output-box" class="output scroller">
					<div id="y2018running">Here's where the running output will appear</div>
				</div>
			</div>
		</section>
	}
}

templ RowAndOutput(id string, answer int, text string) {
	<td id={ id }>{ answer }</td>
	<div id="output-box" class="output scroller">
		<div id="y2018running">{ text }</div>
	</div>
}

templ Day01() {
	<tr>
		<td rowspan="2">1</td>
		<td>1</td>
		<td id="y2018d1p1">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d1/p1/sse')">Calculate!</button>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td id="y2018d1p2">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d1/p2/sse')">Calculate!</button>
		</td>
	</tr>
}

templ Day02Part1Output(twos int, threes int) {
	<div id="output-box" class="output scroller">
		<div style="font-size: 20px">
			<div>Exactly Two Characters: { twos }</div>
			<div>Exactly Three Characters: { threes }</div>
			<div id="currentLine"></div>
		</div>
	</div>
}

templ Day02Part2Output(string1 string, string2 string, missedIndex int, string3 string) {
	<div id="output-box" class="output scroller">
		<div style="font-size: 20px">
			<div>
				for i, r := range string1 {
					if i == missedIndex && missedIndex < len(string1) {
						<span style="color: red">{ string(r) }</span>
					} else {
						{ string(r) }
					}
				}
			</div>
			<div>
				for i, r := range string2 {
					if i == missedIndex && missedIndex < len(string2) {
						<span style="color: red">{ string(r) }</span>
					} else {
						{ string(r) }
					}
				}
			</div>
			<div style="color: lightgreen">{ string3 }</div>
		</div>
	</div>
}

templ Day02() {
	<tr>
		<td rowspan="2">2</td>
		<td>1</td>
		<td id="y2018d2p1">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d2/p1/sse')">Calculate!</button>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td id="y2018d2p2">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d2/p2/sse')">Calculate!</button>
		</td>
	</tr>
}
