package y2018 

import "aoc-runner/views/common"

templ Y2018() {
	@common.Layout("Year: 2018") {
		<section class="grid-14">
			<div class="table-container">
				<table>
					<thead>
						<tr>
							<th>Day</th>
							<th>Part</th>
							<th>Result</th>
							<th>Calculate</th>
						</tr>
					</thead>
					<tbody>
						@Day01()
					</tbody>
				</table>
			</div>
			<div class="output scroller">
				<div id="y2018running">Here's where the running output will appear</div>
			</div>
		</section>
	}
}

templ RowAndOutput(id string, answer int, text string) {
	<td id={ id }>{ answer }</td>
	<div id="y2018running">{ text }</div>
}

templ Day01() {
	<tr>
		<td rowspan="2">1</td>
		<td>1</td>
		<td id="y2018d1p1">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d1/p1/sse')">Calculate!</button>
		</td>
	</tr>
	<tr>
		<td>2</td>
		<td id="y2018d1p2">N/A</td>
		<td>
			<button class="btn" data-on-click="@post('/y2018/d1/p2/sse')">Calculate!</button>
		</td>
	</tr>
}
