package components

import "time"

templ Footer() {
	<footer class="font-ibm-plex-mono">
		<span>JsonB { time.Now().Year() } </span>
		<a href="https://github.com/json-bateman" class="logo">
			<img src={ StaticPath("github-logo.svg") }/>
		</a>
	</footer>
}
