package y2018

import "aoc/web/components"

templ day01(title string) {
	@components.HtmlWrapper(title) {
		<div>Part 1</div>
		<button data-on:click="@get('/year/2018/day/1/part/1')">Calculate</button>
		<div>Part 2</div>
		<button data-on:click="@get('/year/2018/day/1/part/2')">Calculate</button>
		@OutputBox("Output Box")
		@components.Footer()
	}
}

templ OutputBox(msg string) {
	<div id="outputBox">{ msg }</div>
}
