package web

import "aoc/web/components"

templ years(title string) {
	@components.HtmlWrapper(title) {
		<div>Years</div>
		<a href="/year/2018">2018</a>
		<a href="/year/2025">2025</a>
		@components.Footer()
	}
}
